$primary: #6ea820;
$info: rgba(242, 250, 232, 0.46);
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-family: "Lato", sans-serif;
}
.fs-7 {
  font-size: 0.9rem;
}
.fs-8 {
  font-size: 0.8rem;
}
.fs-9 {
  font-size: 0.7rem;
}
.w-fit-content{
  width: fit-content !important;
}
.h-fit-content{
  height: fit-content !important;
}
// public classes
.backdrop-filter-white{
  background: #ffffff69;
  backdrop-filter: blur(20px);
}

.main-header{
  font-family: 'Playfair Display', serif;
}

////////////////////  Drop down animation ////////////
@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

// NAVBAR //
nav {
  .nav-link {
    position: relative;
    &.active {
      color: $primary !important;
    }
  }
}

@media (min-width: 768px) {
  nav {
    .nav-link {
      transition: 0.2s ease-in-out;
      padding-left: 0px !important;
      padding-right: 0px !important;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        transition: 0.2s ease-in-out;
        left: 0;
        height: 2px;
        width: 0px;
        background-color: $primary;
      }
      &:hover::before,
      &.active::before {
        width: 100%;
      }
    }
  }

  footer nav{
    .nav-link{
      &::before {
        bottom: 0;
        top: unset !important;
      }
    }
  }
}

// AUTH
.auth {
  min-height: 100vh;
  .left {
    .signup,
    .signin,
    .forgot-password {
      width: 55%;
      min-width: 320px;
      margin: 0px auto;
    }
  }
}
@media (max-width: 768px) {
  .auth {
    .right {
      height: 20vh !important;
    }
    .left {
      min-height: 80vh !important;
      height: min-content !important;
    }
  }
}

// home
.home{
  .video{
    z-index: -1;
  }
  .main{
    .row div .main-img{
      max-width: 200px;
      &:nth-child(3){
        border-radius: 59rem 56rem 57rem 63rem;
      }
    }
    .row > div div:nth-child(2) .main-img{
      max-width: 405px;
      mix-blend-mode: darken;
    }
    .left{
      .main-img:nth-child(2){
        max-width: 250px;
        position: absolute;
        left: 69px;
        bottom: 112px;
        z-index: -1;
        transform: rotateX(-11deg) rotateZ(20deg);
      }
    }
    .right{
      .main-img:nth-child(1){
        border-radius: 15rem 1rem;
      }
    }
  }

  .about-us{
    background: #d3efd326;
  }

  .about-apple-scab-disease{
    img{
      max-width: 245px;
      object-fit: fill;
      border-radius: 0rem 0rem 5rem 6rem;
    }
  }
  
  .card{
    .card-title,
    .card-text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    .card-text {
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .slider {
    .slider-body {
      overflow-x: scroll;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      div {
        scroll-snap-align: start;
      }
      &::-webkit-scrollbar {
        width: 0px;
      }
    }
  }

}

// disease detection page

.disease-detection{
  .img-upload-box{
    width: 330px;
    height: 260px;
  }
}